* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
    position: relative;
}

.input-area {
    background-color: #11B89A;
    height: 30rem;
    padding: 7rem;
}

.input {
    display: flex;
    justify-content: center;
    
}

.todo-input {
    width: 25rem;
    height: 4rem;
    font-size: 1.2rem;
    padding: 1rem;
    padding-left: 1.5rem;
    border: 0;
    margin-right: .5rem;
}

.add-todo {
    height: 4rem;
    width: 5rem;
    font-size: 2rem;
    background-color: #0A6C5A;
    text-decoration: none;
    border: 0;
    box-shadow: 0;
    color: white;
    text-align: center;
    cursor: pointer;
}

.add-todo:hover {
    background-color: #0C806B;
}

h1 {
    font-size: 3rem;
}

.empty {
    margin-top: 10rem;
    font-size: 1.5rem;
}

.to-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.to-do-list {
    list-style-type: none;
    text-align: center;
}

.to-do-item {
    background-color: #0B7965;
    width: 70vw;
    height: 5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .2rem;
    cursor: pointer;    
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.to-do-done {
    background-color: rgb(161, 231, 218);
}

.to-do-done p {
    text-decoration: line-through;
}

.remove {
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    padding-bottom: .2rem;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
    background-color: #0B7965;
    color: white;
}

.to-do-done .remove {
    background-color: rgb(161, 231, 218);
}

.remove:hover {
    border: 1px solid white;
}

.hurrah {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
}

.popup {
    background-color: #11B89A;
    color: white;
    height: 27rem;
    margin-top: 17rem;
}

.popup h2 {
    margin: 2rem 4rem 4rem 4rem;
}

.popup img {
    width: 10rem;
}

.close {
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    display: inline-block;
    margin-top: 1rem;
}

.close:hover {
    background-color: rgba(255,255,255,0.1);
}